<section id="about" class="mt-6">

  <h3 class="h3-responsive titulos" style="font-family: 'Montserrat', sans-serif">¿Quienes somos?</h3>
  <hr class="mb-4 underline">
  <p class="lead grey-text text-justify w-responsive mx-auto mb-3">Carpenfred es una carpintería con mas de 25 años de experiencia en el mercado venezolano, 
                por eso entendemos lo valioso de su tiempo y sabemos que para ud, cualquier trabajo de 
                carpintería es mas que un Proyecto, es un sueño que desea hacer realidad… 
                Cuente con nosotros para hacer su proyecto, su sueño una realidad!</p>
  <div class="row">
    <div class="col-sm-3 mx-auto text-center">
      <img class="img-fluid img-rotate text-center" src="/img/who.png" alt="Carpenfred images">
    </div>

    <div class="col-lg-8 ml-3 mr-3">

      <div class="row mb-3">
        <h5 class="mb-3 font-weight-bold lead"><i class="fa fa-share ico" aria-hidden="true"></i> Carpinteria en General</h5>
          <p class="grey-text text-justify w-responsive mx-auto">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam,
            quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
      </div>
        <hr>
      <div class="row mb-3">
        <h5 class="mb-3 font-weight-bold"><i class="fa fa-share ico" aria-hidden="true"></i> Eficiencia</h5>
          <p class="grey-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam,
            quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
      </div>
        <hr>
      <div class="row mb-3">
        <h5 class="mb-3 font-weight-bold"> <i class="fa fa-share ico" aria-hidden="true"></i> Responsabilidad</h5>
          <p class="grey-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima
            veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
      </div>
    </div>
  </div>

</section>