<!-- Footer -->
<footer class="page-footer font-small">
<div class="" style="background-color: #fcd999;">
  <div class="container">
    <div class="row">

      <div class="col-md-5 mt-3">
        <h5 class="text-uppercase">carpenfred</h5>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block" style="width: 150px;">
        <p class="text-justify">Carpenfred ofrece servicios de carpintería en general. Estamos ubicados en el km 13 vía el Junquito, Caracas-Venezuela. 
            Con gusto atenderemos su solicitud de forma personalizada, solo póngase en contacto con nosotros a través de nuestros diferentes medios.</p>

      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3">
        <h5 class="text-uppercase text-center mt-3">Siganos en</h5>
        <hr class="mx-auto w-25">
        <ul class="list-unstyled">
          <li class="text-center">
            <a href="https://twitter.com/carpenfred" target="_blank"><i class="fa fa-twitter fa-2x fac"></i></a>
          </li>
          <li class="text-center">
            <a href="https://instagram.com/carpenfred" target="_blank"><i class="fa fa-instagram fa-2x fac"></i></a>
          </li>
          <p class="text-center">como @carpenfred</p>          
            <hr class="mx-auto w-25">
          <li class="text-center">
            <a href="#"><i class="fa fa-whatsapp fa-2x fac"></i></a>
          </li>
          <p class="text-center">0424-113.26.21</p> 
        </ul>

      </div>
      <div class="col-md-4">
        <h5 class="text-uppercase text-center mt-3">Links de interes</h5>
        <hr class="mx-auto w-25">
        <ul class="list-unstyled">
          <li class="text-center">
            <a class="links" href="/galeria_publica">Trabajos entregados</a>
          </li>
          <li class="text-center">
            <a class="links" href="https://www.homestyler.com/int/" target="_blank">Home Styler</a>
          </li>
          <li class="text-center">
            <a  class="links" href="https://www.google.com/search?rlz=1C1SQJL_esCO837CO837&biw=1707&bih=821&tbm=isch&sa=1&ei=sn6gXZnRC--GggfS8KnoBw&q=ideas+para+remodelar&oq=ideas+para+remodelar&gs_l=img.3..0i67l2j0j0i67l4j0l3.1492.14602..15233...0.0..0.173.2909.1j20......0....1..gws-wiz-img.....0.G-uiUAzKUvI&ved=0ahUKEwiZ8umpo5TlAhVvg-AKHVJ4Cn0Q4dUDCAc&uact=5" target="_blank">Ideas para remodelar</a>
          </li>
          <li class="text-center">
            <a class="links" href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
     </div>
  </div>
  <div class="footer-copyright text-center py-3 exelta">© 2019 Copyright:
    <a href="#"> exelta.com</a>
  </div>
</div>    
</footer>
