<div class="" style="height: 34vw;">
    
    <div class="">
        <img class="img_index_bg" src="img/carpenfred_bg.png" alt="Carpinteria Carpenfred, trabajos en madera">
        <div class="div-intro">
            <h1 class="intro intro-h1">Su sueño, una realidad</h1>
            <p class="text-justify intro">Cuando se trata de trabajos de carpintería tales como Modernas Cocinas, 
                Closets a medida, juegos de cuarto y todo en carpintería en General,  
                CarpenFred lo ayuda a hacer su sueño una realidad</p>
             <button onclick="location.href = '/galeria_publica';" id="myButton" class="btn-ver-mas" >Ver mas</button>
        </div>
       
    </div>
    
</div>
