<section id="servicios" class="container-fluid mb-5 mt-5">
    <h3 class="h3-responsive titulos" style="font-family: 'Montserrat', sans-serif">Nuestros Servicios</h3>
    <hr class="mb-4 underline">
    <div class="row">
        <div class="col-sm text-center font-weight-bold"><h5><i class="fa fa-window-minimize ico" aria-hidden="true"></i> Pisos Flotantes</h5><img src="/img/servicio1.png" class="img-fluid" alt="Carpinteria Carpenfred, pisos flotantes"></div>  
            <div class="col-sm">
                <p class="text-justify">Si desea dar un toque de modernidad a su hogar, los pisos flotantes son una 
                    excelente opción. Carpenfred puede ayudarlo en la instalación de sus pisos flotantes!</p>
            </div>
    
        <div class="col-sm text-center font-weight-bold"><h5><i class="fa fa-chevron-up ico" aria-hidden="true"></i>  Techos de Madera</h5><img src="/img/servicio2.png" class="img-fluid" alt="Carpinteria Carpenfred, techos de madera, machihembrado"></div>
            <div class="col-sm">
                <p class="text-justify">Los techos de madera o machiembrado nunca pasan de moda, brindan un toque de elegancia a su hogar.
                    Carpenfred puede instalarlos usando una tonalidad del color de la madera a su gusto.
                </p>
            </div>

        <div class="col-sm text-center font-weight-bold"><h5><i class="fa fa-star ico" aria-hidden="true"></i> Restauraciones</h5><img src="/img/servicio3.png" class="img-fluid" alt="Carpinteria Carpenfred, restauraciones, renovaciones"></div>
        <div class="col-sm">
                <p class="text-justify">Desea renovar puertas viejas, marcos, rodapies o cualquier tipo mueble.
                        No dude en contactarnos para hacernos cargos de sus proyectos de renovación de muebles.</p>

        </div>
    </div>
    
</section>
