<div class="row mx-auto">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <div class="col-sm-12 text-center">
                    <div class="d-inline-block"><h2 class="text-muted">Iniciar Sesión</h2></div>
                    <div class="d-inline-block float-right"><a href="/"><i class="fa fa-window-close icon-close-text"></i></a></div>
                </div>
             
            </div>

            <div class="col-sm-12 text-center">
                <i class="fa fa-user-circle fa-5x mt-3" style="color: rgb(52, 58, 64)" aria-hidden="true"></i>
                <!--<img src="img/carpenfred.png" class="mt-3 img-responsive">-->
            </div>
            

            <div class="card-body">
                <form action="/Clientes" method="POST">
                    <div class="input-group">
                        <input type="text" class="form-control" name="username_form" placeholder="Usuario">
                        <input type="password" class="form-control" name="password_form" placeholder="Contraseña">
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="submit">Login</button>
                        </div>
                    </div>
               </form>
            </div>
        </div>
    </div>
</div>